.dragPanel{
    display: flex;
    flex-direction: column;
    border: 2px solid black;  
    text-align: center;
    height: 100%;
    width: 100%;
}

@media(max-width: 1400px){
    .dragPanel{
        flex-direction: row;
    }
}