
@import "../../../Variables";

.dragableField{
    min-width: 4vw;
    min-height: 4vw;
    background: $board-color;
    margin: 0.3vw 0;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media(max-width: 1000px){
    .dragableField{
        margin: 0 0.3vw;
        min-width: 4.5vh;
        min-height: 4.5vh;
    }
    
}

@media(max-width: 800px){
    .dragableField{
        min-width: 4vh;
        min-height: 4vh;
    }
}