[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"
bandit = "*"
pytest = "*"
pre-commit = "*"
isort = "*"
pylint-mongoengine = "*"

[packages]
fastapi = "*"
uvicorn = "*"
email-validator = "*"
passlib = "*"
bcrypt = "*"
datetime = "*"
pyjwt = "*"
mongoengine = "*"
atomicwrites = "*"
python-multipart = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
