.gamePanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

@media(max-width: 1024px){

    .gameView{
        margin-top: -20vh;
    }

    .gamePanel{
        flex-direction: none;
    }
}
