@import "../../Variables";

.Lobby .card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px 20px 40px;
  border-radius: 5px;
  background: rgba($card-color, 0.6);
}

.Lobby h1 {
  margin-bottom: 40px;
  color: white;
}

.Lobby a {
  padding: 10px 0;
  width: 70%;
  text-decoration: none;
}

.Lobby img {
  margin-top: -95px;
  margin-bottom: 30px;
  width: 265px;
  height: 208px;
}

.Lobby button {
  width: 100%;
}

@media (max-width: 576px) {
  .Lobby .card {
    width: 100vw;
    height: 100vh;
    background: rgba($card-color, 0.4);
    border-radius: 0;
  }

  .Lobby img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  .Lobby a {
    width: 90%;
  }
}
