@import "../../Variables";

.Settings .card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: $white;
}

.Settings h1 {
  margin-bottom: 40px;
}

.Settings a {
  margin-bottom: 10px;
}

@media (max-width: 576px) {
  .Settings .card {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
