@import "../../Variables";
:export {
    active: $active-opponents;
    dead: $background-color;
    bWhite: $white;
    usernameColor: $timer-color;
    worsePlayer: $timer-red;
    firstPlayer: $first-player;
}

.playersList {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playersList .avatar .time {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.playersList .avatar {
    height: 3vw;
    width: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1vh 0;
    opacity: 0.95;
    border-radius: 50%;
    -webkit-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 1);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 1);
}

.player {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.player .username {
    margin: 0 0.5vw;
    font-size: 20px;
    font-weight: bold;
}

@media(max-width: 1400px) {
    .playersList .avatar {
        height: 3.5vw;
        width: 3.5vw;
    }
}

@media(max-width: 1024px) {
    .playersList {
        flex-direction: row;
        justify-content: center;
    }
    .player {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .playersList .avatar {
        height: 4.5vw;
        width: 4.5vw;
        margin: 0 1vw;
    }
    .player .username {
        margin: 0.25vh 0;
        font-size: 15px;
        font-weight: bold;
    }
}

@media(max-width: 800px) {
    .playersList .avatar {
        height: 6.5vw;
        width: 6.5vw;
    }
}

@media(max-width: 600px) {
    .playersList .avatar {
        height: 6vw;
        width: 6vw;
    }
    .player .username {
        font-size: 12px;
    }
}

@media(max-width: 420px) {
    .playersList .avatar {
        height: 7vw;
        width: 7vw;
    }
    .player .username {
        font-size: 12px;
        margin-top: 1vh;
        writing-mode: vertical-rl;
        text-orientation: sideways-right;
    }
    .playersList .avatar .time {
        font-size: 10px;
    }
}