@import "../../Variables";

.Results .card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px 20px 20px;
    border-radius: 5px;
    background: rgba($card-color, 0.6);
  }
  
  .Results .textField {
    width: 85%;
  }

  .Results h1, h2 {
      color: white;
      margin-bottom: 0;
      margin-top: 10px;
  }

  .Results h1 {
      font-size: 140px;
  }
  
  .Results .textFieldWrapper {
    width: 400px;
  }
  
  .Results a {
    padding: 20px 0;
    color: white;
  }
  
  .Results button {
    width: 100%;
  }
  
  .Results img {
    margin-top: -95px;
    margin-bottom: 0;
    width: 265px;
    height: 208px;
  }
  
  @media (max-width: 576px) {
    .Results .card {
      width: 100vw;
      height: 100vh;
      background: rgba($card-color, 0.4);
      border-radius: 0;
    }
  
    .Results .textField {
      width: 100%;
    }
  
    .Results img {
      margin-top: 0;
      margin-bottom: 10px;
    }
  
    .Results .textFieldWrapper {
      width: 100%;
    }
  }
  
  @media (max-height: 812px) {
    .Results img {
      width: 225px;
      height: 166px;
    }
  }
  