@import "Variables";

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background-color: $background-color;
}

.foreground {
  z-index: 5;
}
