$background-color: #212a2f;
$base-color: #68b3e1;
$white: #fbfdff;
$card-color: #151b1e;
$board-color: #f8f8ff;
$field-highlight: #ffff99;
$field-delete-highlight: #cc0033;
$circular-menu-color: #212535;
$circular-menu-choice-color: #29882f;
$timer-color: #68b3e1;

