@import "../../../Variables";

.field{ 
    display: flex;
    align-items: center;
    justify-content: center;
    background: $white;
    padding: 0;
    min-width: 4vw;
    min-height: 4vw;
}

.field p{
    margin: 0;
}


@media(max-width: 1024px){
    .field{
        min-width: 6.5vh;
        min-height: 6.5vh;
        font-size: 40px;
    }
}

@media(max-width: 800px){
    .field{
        min-width: 6vh;
        min-height: 6vh;
    }
}

@media(max-width: 600px){
    .field{
        min-width: 4vh;
        min-height: 4vh;
        font-size: 20px;
    }
}

@media(max-width: 370px){
    .field{
        min-width: 5vh;
        min-height: 5vh;
        font-size: 20px;
    }
}