@import "../../../Variables";
:export { boardColor: $board-color; fieldHighlight: $field-highlight; fieldDeleteHighlight: $field-delete-highlight}

.field{
    display: flex;
    align-items: center;
    justify-content: center;
    background: $board-color;
    padding: 0;
    min-width: 3.5vw;
    min-height: 3.5vw;
    font-size: 25px;
}

.field p{
    margin: 0;
}


@media(max-width: 1400px){
    .field{
        min-width:4.5vw;
        min-height: 4.5vw;
        font-size: 30px;
    }
}


//6.5vh
@media(max-width: 1024px){
    .field{
        min-width: 6vw;
        min-height: 6vw;
        font-size: 30px;
    }
}

@media(max-width: 800px){
    .field{
        min-width: 8vw;
        min-height: 8vw;
    }
}

@media(max-width: 600px){
    .field{
        min-width: 8vw;
        min-height: 8vw;
        font-size: 20px;
    }
}

@media(max-width: 370px){
    .field{
        min-width: 8vw;
        min-height: 8vw;
        font-size: 20px;
    }
}
