@import "../../../Variables.scss";

:export {base: $base-color; white: $white}


.Timer .progressBar{
    padding: 0 0 20px 0;
}

.Timer p{
    margin: 0;
    color: $white;
    font-size: 40px;
    float: right;
    font-family: 'Exo 2', sans-serif;
}

@media(max-width: 1000px){
    .Timer p{
        float: none;
        text-align: center;
    }

}