@import "../../../Variables";

.dragPanel-background  {
    border-radius: 5px;
    background: $white;
    padding: 5px;
}

.dragPanel tbody{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 25px;
}

.dragPanel td{
    margin: 0.3vw 0;
}

@media(max-width: 1024px){

    .dragPanel-background  {
        display: none;
    }

    .dragPanel tbody{
        display: none;
    }
}
