
@import "../../../Variables";

.draggableField{
    min-width: 4vw;
    min-height: 4vw;
    background: $white;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

}

.draggableField p{
    margin: 0;
}

@media(max-width: 1000px){
    .draggableField{
        min-width: 4.5vh;
        min-height: 4.5vh;
    }

}

@media(max-width: 800px){
    .draggableField{
        min-width: 4vh;
        min-height: 4vh;
    }
}
