@import "../../Variables";

:export {timer: $timer-color; bWhite: $white}

.game {
    display: flex;
    flex-direction: row;
}

.sudoku-background {
    border-radius: 5px;
    // background: $white;
    padding: 5px;
    margin-right: 1vw;
    height: 90%;
    z-index: 10;
}

.sudoku table {
    border: 3px solid black;
    border-collapse: collapse;

    td {
        padding: 0;
        border: 1px solid black;
        text-align: center;
    }

    td:nth-child(3n) {
      border-right: 3px solid black;
    }

    tr:nth-child(3n) {
      border-bottom: 3px solid black;
    }
  }

.board {
    border: 3px solid black;    
    text-align: center;  
}

.gamePanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.Timer{
    border-radius: 30px;
    display: inline-block;
    background-color: rgba($background-color, $alpha: 0.75);
}

.Timer p{
    margin: 0;
    color: $white;
    font-size: 60px;
    font-family: 'Exo 2', sans-serif;
}


@media(max-width: 1024px){
    .sudoku-background{
        margin-right: 0;
        margin-bottom: 1vh;
    }
    .gameView{
        flex-direction: column;
    }

    .gamePanel{
        flex-direction: column;
    }
    .Timer p{
        float: none;
        text-align: center;
    }
}
