@import "../../Variables";

.game {
    display: flex;
    flex-direction: row;
}

.sudoku-background {
    border-radius: 5px;
    background: $white;
    padding: 5px;
    margin-right: 4vw;
    height: 90%;
}

.sudoku table {
    border: 3px solid black;
    border-collapse: collapse;

    td {
        padding: 0;
        border: 1px solid black;
        text-align: center;
    }

    td:nth-child(3n) {
      border-right: 3px solid black;
    }

    tr:nth-child(3n) {
      border-bottom: 3px solid black;
    }
  }

.board {
    border: 3px solid black;    
    text-align: center;  
}

.gamePanel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}


@media(max-width: 1024px){
    .sudoku-background{
        margin-right: 0;
        margin-bottom: 4vh;
    }
    .gameView{
        margin-top: -20vh;
    }

    .gamePanel{
        flex-direction: none;
    }
    
}
